<!DOCTYPE html>
<html lang="en">
  <%- include('./commons/head') -%>
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.css">
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <%- include('./commons/leftnavbar') -%>
    
    <!-- Right navbar links -->
    <%- include('./commons/rightnavbar') -%>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"><%= title %></span>
    </a>

    <!-- Sidebar -->
    <%- include('./commons/sidebarmenu') -%>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%= title %></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><%= title %></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <label for="fstaff">Staff</label>
                  <input type="text" placeholder="berdasarkan Staff" id="fuser" name="fstaff">
                  <label for="fitemname">Item Name</label>
                  <input type="text" placeholder="berdasarkan Itemname" id="fitemname" name="fitemname">
                  <label for="fkategori">Kategori</label>
                  <select name="" id="fkategori">
                    <option value="Semua">Semua</option>
                    <option value="Teknis (BTS)">Teknis (BTS)</option>
                    <option value="Teknis (Office)">Teknis (Office)</option>
                    <option value="Dijual">Dijual</option>
                    <option value="Gudang">Gudang</option>
                    <option value="Material">Material</option>
                    <option value="Teknis NOC Router">Teknis NOC Router</option>
                    <option value="Non-teknis">Non-teknis</option>
                    <option value="Marketing Tools, ATK, Merchandise">Marketing Tools, ATK, Merchandise</option>
                  </select>
                  <label for="fcabang">Cabang</label>
                  <select name="fcabang" id="fcabang">
                    <option value="Semua">Semua</option>
                    <option value="Surabaya">Surabaya</option>
                    <option value="Jakarta">Jakarta</option>
                    <option value="Malang">Malang</option>
                    <option value="Bali">Bali</option>
                  </select>
                  <label for="fstatus">Status</label>
                  <select name="fstatus" id="fstatus">
                    <option value="Semua">Semua</option>
                    <option value="Pending">Pending</option>
                    <option value="Verified">Verified</option>
                    <option value="Deal Price">Deal Price</option>
                    <option value="Pre Approval">Pre Approval</option>
                    <option value="Approved Only">Approved Only</option>
                    <option value="Approved Bought and Paid">Approved Bought and Paid</option>
                    <option value="Approved Bought Termin">Approved Bought Termin</option>
                    <option value="Received">Received</option>
                    <option value="Rejected">Rejected</option>
                  </select>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tObj" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th width="10%">Submission date</th>
                    <th width="10%">Budgeting Number</th>
                    <th width="10%">Staff</th>
                    <th width="10%">Item Name</th>
                    <th width="10%">Kategori</th>
                    <th width="10%">Amount</th>
                    <th width="10%">Proposed Total Price</th>
                    <th width="10%">Placement Location</th>
                    <th width="10%">Status</th>
                    <th>Implementation Target</th>
                    <th width="10%">Action</th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%-include('./commons/footer')%>
  <%-include('./submissions/addSubmissionModal')%>
  <%-include('./submissions/addVerification')%>
  <%-include('./submissions/finalPrice')%>
  <script>tpe = '<%- type -%>'</script>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/assets/plugins/select2/js/select2.full.min.js"></script>
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/jszip/jszip.min.js"></script>
<script src="/assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/assets/plugins/moment/moment.min.js"></script>
<script src="/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- AdminLTE App -->
<script src="/assets/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
<script src="/assets/app/common.js"></script>
<script src="/js/libs/dates.js"></script>
<script>username="<%- username -%>"</script>
<script>roles="<%- roles -%>"</script>
<!-- Page specific script -->
<script>
  $(function () {
    $('#mainmenu').click()
    console.log('roles',roles)
    console.log('username',username)
    editvisibility = "none"
    roles = [roles].forEach(role => {
      console.log('ROleee',role)
    });
    if([roles].includes(6)){
      console.log('sales1')
    }else{
      console.log('bukan sales1')
    }
    approval = ([roles].includes(3))?"block":"none"
    plafoncreator = ([roles].includes(8))?"block":"none"
    realizationauth = ([roles].includes(9))?"block":"none"
    submissionviewer = ([roles].includes(10))?"block":"none"
    tbl = $('#tObj').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
      ajax:{
        url:"/summary/data/42000",
        type:'get',
      },
      dom:"Brtip",
      order:[1,'desc'],
      buttons:[
      {
        text: '<i class="fa-solid fa-ticket"></i> Pengajuan Pembelian',
        className:'btn btn-success addticket',
        action: function ( e, tObj, node, config ) {
          console.log('roles',roles)
          if([roles].includes(6)){
            console.log('sales')
          }else{
            console.log('bukan sales')
          }
          toDate = getDt({
            date:getTodayDate(),
            format:'human'
          })
          $('#implementationdate input').val(toDate)
          $('#submissiondate input').val(toDate)
          $('#purchasedate input').val(toDate)
          $('#staffname').val(username)
          $('#btnSaveProductDetail').show()
          $('#btnUpdateProductDetail').hide()
          $('#add-submission').modal({
            backdrop:'static'
          })
          }
        }
      ],
      columnDefs:[
      {
          "targets": 10,
          "data": null,
          "defaultContent":'<div class="btn-group">'
            +'<button type="button" class="btn btn-default">Aksi</button>'
            +'<button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">'
              +'<span class="sr-only">Toggle Dropdown</span></button>'
              +'<div class="dropdown-menu dropdown-menu-right" role="menu">'
                +'<a class="dropdown-item btnEditProduct" style="cursor:pointer;display: '+editvisibility+' ;">Edit</a>'
                +'<a class="dropdown-item btnSubmissionDetail" style="cursor:pointer;">Detail</a>'
                +'<a class="dropdown-item btnSubmissionVerification" style="cursor:pointer;">Verification</a>'
                +'<a class="dropdown-item btnFinalPrice" style="cursor:pointer;">Final Price</a>'
                +'<a class="dropdown-item btnRealizationDetail" style="cursor:pointer;">Realization Detail</a>'
                +'<div class="dropdown-divider" style="display:block;"></div>'
                +'<a class="dropdown-item btnRemoveProduct" style="cursor:pointer;color:red;display: '+editvisibility+' ;">Hapus</a>'
              +'</div>'
            +'</div>'
      },
      {
        "targets":9,
        className:"implementation_target",visible:false
      },
      {
        "targets":8,
        className:"status"
      },
      {
        "targets":7,
        className:"placement_location"
      },
      {
        "targets":6,
        className:"proposed_totalprice"
      },
      {
        "targets":5,
        className:"amount"
      },
      {
        "targets":4,
        className:"category"
      },
      {
        "targets":3,
        className:"itemname"
      },
      {
        "targets":2,
        className:"staff",visible:true
      },
      {
        "targets":1,
        className:"budgeting_number"
      },
      {
        "targets":0,
        className:"submission_date"
      },
      ],
      rowCallback: function (row, data) {
        console.log('datatables row data start',data)
        $(row).attr('product_id',data[0])
        $(row).attr('implementation_target',data[9])
        $(row).attr('subject',data[10])
        $(row).attr('purchase_target',data[11])
        $(row).attr('totalprice',data[12])
        $(row).attr('staff_name',data[13])
        $(row).attr('submission_id',data[14])
        $(row).attr('submission_detail_id',data[15])
        $(row).attr('purchase_reason',data[18])
      },
    })
    $('#peruntukan').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            model:'peruntukan'
          }
          console.log('peruntukan',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('peruntukan',data)
          return data
        }
      }
    })
    $('#itemname').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            model:'productparents',
            //model:'odooproductparents'
          }
          console.log('itemname',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('itemname',data)
          return data
        }
      }
    })

    $('#proposedvendor').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            model:'proposedvendor'
          }
          console.log('proposedvendor',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('proposedvendor',data)
          return data
        }
      }
    })
    $('#productdetail').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            category_id:$('#itemname').val(),
            model:'productdetails',
            //model:'odooproductdetails'
          }
          console.log('productdetails',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('productdetails',data)
          return data
        }
      }
    })
    $('#product').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            model:'productparents'
          }
          console.log('product',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('product reult',data)
          return data
        }
      }
    })
    $('#tObj').on('click','.btnEditProduct',function(){
      $('#tObj tbody tr').removeClass('selected')
      tr = $(this).stairUp({level:4})
      tr.addClass('selected')
      id = tr.find('.id').text()
      console.log('add product detail')
      $('#btnSaveProductDetail').hide()
      $('#btnUpdateProductDetail').show()
      $('#partnumber').val(tr.find('.partnumber').text())
      $('#description').val(tr.find('.description').text())
      $('#brand').val(tr.find('.brand').text())
      $('#product').val(tr.attr('product_id')).change()
      $('#add-category').modal()
    })
    $('#tObj').on('click','.btnSubmissionDetail',function(){
      tr = $(this).stairUp({level:4})
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      console.log('Status',tr.find('.status').text())
      switch(tr.find('.status').text()){
        case 'Verified':
          window.location.href = '/submissiondetail/verified/'+tr.attr('submission_detail_id')+'/'+tr.attr('submission_id')
        break
        case 'Received':
          window.location.href = '/submissiondetail/received/'+tr.attr('submission_detail_id')+'/'+tr.attr('submission_id')
        break
        case 'Approved Only':
          window.location.href = '/submissiondetail/received/'+tr.attr('submission_detail_id')+'/'+tr.attr('submission_id')
        break
        case 'Approved Bought and Paid':
          window.location.href = '/submissiondetail/bought/'+tr.attr('submission_detail_id')+'/'+tr.attr('submission_id')
        break
        case 'Pending':
          window.location.href = '/submissiondetail/detail/'+tr.attr('submission_detail_id')+'/'+tr.attr('submission_id')
        break
      }
    })
    $('#tObj').on('click','.btnRealizationDetail',function(){
      tr = $(this).stairUp({level:4})
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      console.log('Status',tr.find('.status').text())
      window.location.href = '/submissiondetail/realizationdetail/'+tr.attr('submission_detail_id')+'/'+tr.attr
    })
    $('#tObj').on('click','.btnSubmissionVerification',function(){
      tr = $(this).stairUp({level:4})
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      $('#vstaffname').html(tr.find('.staff').text())
      $('#vsubmissiondate').html(tr.find('.submission_date').text())
      $('#totalprice').html(tr.find('.proposed_totalprice').text())
      $('#vitemname').html(tr.find('.itemname').text())
      $('#implementationtarget').html(tr.attr('implementation_target'))
      $('#purchasereason').html(tr.attr('purchase_reason'))
      $('#add-verification').modal()
    })
    $('#tObj').on('click','.btnFinalPrice',function(){
      tr = $(this).stairUp({level:4})
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      console.log('implementation target',tr.attr('implementation_target'))
      $('#implementation_target').html(tr.attr('implementation_target'))
      $('#fsubject').html(tr.attr('subject'))
      console.log('subject',tr.attr('subject'))
      $('#submission_date').html(tr.find('.submission_date').html())
      $("#fpurchase_target").html(tr.attr("purchase_target"))
      console.log('purchase_target',tr.attr("purchase_target"))
      $("#ftotalprice").html(tr.attr("totalprice").toLocaleString())
      console.log('totalprice',tr.attr("totalprice").toLocaleString())
      $("#fstaff_name").html(tr.attr("staff_name"))
      console.log('staff_name',tr.attr("staff_name"))
      $("#finalprice").val(tr.attr("totalprice").toLocaleString())
      $('#add-FinalPrice').modal()
    })
    $('#btnSaveFinalPrice').on('click',function(){
      $.ajax({
        url:'/crud',
        type:'post',
        data:{
          tableName:'submission_details',
          crudtype:'update',
          cols:[
            {key:'final_price',val:$('finalprice').val()}
          ],
          conditions:[
            {key:'id',val:tr.attr('id')}
          ]
        }
      })
      .done(res=>{})
      .fail(err=>{})
    })
    $('#btnUpdateProductDetail').on('click',function(){
      console.log('btnUpdateProduct invoked')
      $.ajax({
        url:'/crud',
        type:'post',
        data:{
          tableName:'productdetails',
          crudtype:'update',
          cols:[
            {key:'partnumber',val:$('#partnumber').val()},
            {key:'product_id',val:$('#product').select2('data')[0].id,},
            {key:'description',val:$('#description').val()},
            {key:'brand',val:$('#brand').val()},
          ],
          conditions:[
            {key:"id",val:$('#tObj tbody tr.selected').find('.id').text()}
          ]
        }
      })
      .done(res=>{
        console.log('Sukses udpate produk detail',res)
        tbl.ajax().reload()
      })
      .fail(err=>{
        console.log('ERr',err)
      })
    })
    $('#submissiondate').datetimepicker({
      format: 'L',//defaultDate:getToDate()
    })
    $('#implementationdate').datetimepicker({
      format: 'L',//defaultDate:getToDate()
    })
    $('#purchasedate').datetimepicker({
      format: 'L',//defaultDate:getToDate()
    })
    $('#btnSaveSubmission').on('click',function(){
      $.ajax({
        url:'/crud/',
        type:'post',
        data:{
          tableName:'submissions',
          crudtype:'create',
          cols:[
            {key:'quarter',val:1},
            {key:'year',val:'1994'},
            {key:'budgeting_number',val:'1223'},
            {key:'subject',val:$('#subject').val()},
            {key:'submission_date',val:getDt({date:$('#submissiondate input').val(),format:'mysql'})},
            {key:'staff_name',val:username},
            {key:'implementation_target',val:getDt({date:$('#implementationdate input').val(),format:'mysql'})},
            {key:'purchase_target',val:getDt({date:$('#purchasedate input').val(),format:'mysql'})}


          ]
        }
      })
      .done(res=>{
        console.log('Res submissions',res)
        $.ajax({
        url:'/crud/',
        type:'post',
        data:{
          tableName:'submission_details',
          crudtype:'create',
          cols:[
            {key:'submission_id',val:res.insertId},  
            {key:'vendor_id',val:$('#proposedvendor').val()},
            {key:'product_id',val:$('#productdetail').val()},
            {key:'itemname',val:$('#productdetail :selected').text()},
            {key:'brand',val:$('#brand').val()},
            {key:'partnumber',val:$('#partnumber').val()},
            {key:'description',val:$('#description').val()},
            {key:'amount',val:$('#amount').val()},
            {key:'discountlevel',val:$('#discountlevel').val()},
            {key:'proposed_vendor',val:$('#proposedvendor').val()},
            {key:'proposed_price',val:$('#proposedprice').val()},
            {key:'proposed_totalprice',val:$('#proposedtotalprice').val()},
            {key:'vendor',val:$('#vendor').val()},
            {key:'purchase_reason',val:$('#purchase_reason').val()},
            {key:'placement_location',val:$('#placement_location').val()},
            {key:'guarantee',val:$('#guarantee').val()},
            {key:'note',val:$('#note').val()},
            {key:'createuser',val:username}
          ]
        }
      })
      .done(res=>{
        console.log('Res submissiondetails',res)
      })
      .fail(err=>{
        console.log('Err submissiondetails',err)
      })
      })
      .fail(err=>{
        console.log('Err submissions',err)
      })
    })
    $('#btnVerify').on('click',function(){})
    $('#btnReject').on('click',function(){})
  });
</script>
<script>
  $('#fuser').on('keyup',function(){
    mykey = $('#fuser').val()
    tbl.columns(2).search(mykey).draw()
  })
  $('#fuser').on('click',function(){
    $(this).select()
  })
  $('#fitemname').on('keyup',function(){
    mykey = $('#fitemname').val()
    tbl.columns(3).search(mykey).draw()
  })
  $('#fitemname').on('click',function(){
    $(this).select()
  })
  $('#fcabang').on('change',function(){
    mykey = $('#fcabang').val()
    tbl.columns(7).search(mykey).draw()
    if(mykey==="Semua"){
      tbl.columns(7).search(['Surabaya','Jakarta','Malang','Bali'].join('|'),true).draw()
    }else{
      tbl.columns(7).search(mykey).draw()
    }
  })
  $('#fstatus').on('change',function(){
    mykey = $('#fstatus').val()
    if(mykey==="Semua"){
      tbl.columns(8)
      .search(['Verified','Pending','Deal','Pre','Only'].join('|'),true)
      .draw()
    }else{
      tbl.columns(8).search(mykey).draw()
    }
  })
  $('#fkategori').on('change',function(){
    mykey = $('#fkategori').val()
    if(mykey==="Semua"){
      tbl.columns(4)
      .search(['BTS','Office','Dijual','Gudang','NOC','Material','Non-Teknis','Merchandise'].join('|'),true).draw()
    }else{
      tbl.columns(4).search(mykey).draw()
    }
    
  })
  </script>
  <script>
    $('#tObj').on('click','.btnRemoveProduct',function(){
      tr = $(this).stairUp({level:4})
      submission_id = tr.attr('submission_id')
      submission_detail_id = tr.attr('submission_detail_id')
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      $.ajax({
          url:'/dobackupremove/submissions/'+submission_id
        })
        .done(res=>{
          console.log('Res',res)
        })
        .fail(err=>{
          console.log('Err',err)
        })
    })
  </script>
</body>
</html>
