<!DOCTYPE html>
<html lang="en">
  <%- include('./commons/head') -%>
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.css">
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <%- include('./commons/leftnavbar') -%>
    
    <!-- Right navbar links -->
    <%- include('./commons/rightnavbar') -%>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"><%= title %></span>
    </a>

    <!-- Sidebar -->
    <%- include('./commons/sidebarmenu') -%>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%= title %></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><%= title %></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tObj" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th width="10%">Submission date</th>
                    <th width="10%">Budgeting Number</th>
                    <th width="10%">Staff</th>
                    <th width="10%">Item Name</th>
                    <th width="10%">Kategori</th>
                    <th width="10%">Amount</th>
                    <th width="10%">Proposed Total Price</th>
                    <th width="10%">Placement Location</th>
                    <th width="10%">Status</th>
                    <th>Implementation Target</th>
                    <th width="10%">Action</th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%-include('./commons/footer')%>
  <%-include('./submissionspanji/addSubmissionModal')%>
  <%-include('./submissions/addVerification')%>
  <%-include('./submissions/finalPrice')%>
  <script>tpe = '<%- type -%>'</script>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/assets/plugins/select2/js/select2.full.min.js"></script>
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/jszip/jszip.min.js"></script>
<script src="/assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/assets/plugins/moment/moment.min.js"></script>
<script src="/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- AdminLTE App -->
<script src="/assets/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
<script src="/assets/app/common.js"></script>
<script src="/js/libs/dates.js"></script>
<script src="/libraries/submissions.js"></script>
<script>username="<%- username -%>"</script>
<!-- Page specific script -->
<script>
  $(function () {
    $('#mainmenu').click()
    tbl = $('#tObj').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      ajax:{
        url:"/summary/data/42000",
        type:'get',
      },
      dom:"Bfrtip",
      order:[1,'desc'],
      buttons:[
      {
        text: '<i class="fa-solid fa-ticket"></i> Pengajuan Pembelian',
        className:'btn btn-success addticket',
        action: function ( e, tObj, node, config ) {
          toDate = getDt({
            date:getTodayDate(),
            format:'human'
          })
          $('#implementationdate input').val(toDate)
          $('#submissiondate input').val(toDate)
          $('#purchasedate input').val(toDate)
          $('#staffname').val(username)
          $('#btnSaveProductDetail').show()
          $('#btnUpdateProductDetail').hide()
          $('#add-submission').modal({
            backdrop:'static'
          })
          }
        }
      ],
      columnDefs:[
      {
          "targets": 10,
          "data": null,
          "defaultContent":'<div class="btn-group">'
            +'<button type="button" class="btn btn-default">Aksi</button>'
            +'<button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">'
              +'<span class="sr-only">Toggle Dropdown</span></button>'
              +'<div class="dropdown-menu dropdown-menu-right" role="menu">'
                +'<a class="dropdown-item btnEditProduct" style="cursor:pointer;">Edit</a>'
                +'<a class="dropdown-item btnDuplicate" style="cursor:pointer;">Duplicate</a>'

                +'<a class="dropdown-item btnSubmissionDetail" style="cursor:pointer;">Detail</a>'
                +'<a class="dropdown-item btnSubmissionVerification" style="cursor:pointer;">Verification</a>'
                +'<a class="dropdown-item btnFinalPrice" style="cursor:pointer;">Final Price</a>'
                +'<div class="dropdown-divider" style="display:none;"></div>'
                +'<a class="dropdown-item btnRemoveProduct" style="cursor:pointer;color:red;display:none;">Hapus</a>'
              +'</div>'
              +'</div>'
      },
      {
        "targets":9,
        className:"implementation_target",visible:false
      },
      {
        "targets":8,
        className:"status"
      },
      {
        "targets":7,
        className:"placement_location"
      },
      {
        "targets":6,
        className:"proposed_totalprice"
      },
      {
        "targets":5,
        className:"amount"
      },
      {
        "targets":4,
        className:"category"
      },
      {
        "targets":3,
        className:"itemname"
      },
      {
        "targets":2,
        className:"staff",visible:true
      },
      {
        "targets":1,
        className:"budgeting_number"
      },
      {
        "targets":0,
        className:"submission_date"
      },
      ],
      rowCallback: function (row, data) {
        console.log('datatables row data start',data)
        $(row).attr('product_id',data[16])
        $(row).attr('implementation_target',data[9])
        $(row).attr('subject',data[10])
        $(row).attr('purchase_target',data[11])
        $(row).attr('totalprice',data[12])
        $(row).attr('staff_name',data[13])
        $(row).attr('submission_id',data[14])
        $(row).attr('submission_detail_id',data[15])
        $(row).attr('pcategory',data[16])
      }
    })
    $('#peruntukan').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            model:'peruntukan'
          }
          console.log('peruntukan',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('peruntukan',data)
          return data
        }
      }
    })
    $('#itemname').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            //model:'productparents',
            model:'productparentspanji'
          }
          console.log('itemname',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('itemname',data)
          return data
        }
      }
    })
    $('#productdetail').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            category_id:$('#itemname').val(),
            //model:'productdetails',
            model:'productspanji'
          }
          console.log('productdetails',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('productdetails',data)
          return data
        }
      }
    })
    $('#proposedvendor').select2({
      ajax:{
        url:'/select2datafactory3',
        type:'post',
        data:function(params){
          var query = {
            search:params.hasOwnProperty('term')?params.term:'',type:'public',
            model:'proposedvendor'
          }
          console.log('proposedvendor',query)
          return query
        },
        dataType:'json',
        processResults:function(data){
          console.log('proposedvendor',data)
          return data
        }
      }
    })

    $('#productdetail').on('change',function(){
      $('#partnumber').val($('#productdetail').val())
    })

    $('#tObj').on('click','.btnEditProduct',function(){
      $('#tObj tbody tr').removeClass('selected')
      tr = $(this).stairUp({level:4})
      tr.addClass('selected')
      id = tr.find('.id').text()
      console.log('add product detail')
      $('#btnSaveProductDetail').hide()
      $('#btnUpdateProductDetail').show()
      $('#partnumber').val(tr.find('.partnumber').text())
      $('#description').val(tr.find('.description').text())
      $('#brand').val(tr.find('.brand').text())
      $('#product').val(tr.attr('product_id')).change()
      $('#add-category').modal()
    })
    $('#tObj').on('click','.btnSubmissionDetail',function(){
      tr = $(this).stairUp({level:4})
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      window.location.href = '/submissiondetail/'+tr.attr('submission_detail_id')+'/'+tr.attr('submission_id')
    })
    $('#tObj').on('click','.btnSubmissionVerification',function(){
      tr = $(this).stairUp({level:4})
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      $('#add-verification').modal()
    })
    $('#tObj').on('click','.btnFinalPrice',function(){
      tr = $(this).stairUp({level:4})
      $('#tObj tbody tr').removeClass('selected')
      tr.addClass('selected')
      console.log('implementation target',tr.attr('implementation_target'))
      $('#implementation_target').html(tr.attr('implementation_target'))
      $('#fsubject').html(tr.attr('subject'))
      console.log('subject',tr.attr('subject'))
      $('#submission_date').html(tr.find('.submission_date').html())
      $("#fpurchase_target").html(tr.attr("purchase_target"))
      console.log('purchase_target',tr.attr("purchase_target"))
      $("#ftotalprice").html(tr.attr("totalprice").toLocaleString())
      console.log('totalprice',tr.attr("totalprice").toLocaleString())
      $("#fstaff_name").html(tr.attr("staff_name"))
      console.log('staff_name',tr.attr("staff_name"))
      $("#finalprice").val(tr.attr("totalprice").toLocaleString())
      $('#add-FinalPrice').modal()
    })
    $('#btnSaveFinalPrice').on('click',function(){
      $.ajax({
        url:'/crud',
        type:'post',
        data:{
          tableName:'submission_details',
          crudtype:'update',
          cols:[
            {key:'final_price',val:$('finalprice').val()}
          ],
          conditions:[
            {key:'id',val:tr.attr('id')}
          ]
        }
      })
      .done(res=>{})
      .fail(err=>{})
    })
    $('#btnUpdateProductDetail').on('click',function(){
      console.log('btnUpdateProduct invoked')
      $.ajax({
        url:'/crud',
        type:'post',
        data:{
          tableName:'productdetails',
          crudtype:'update',
          cols:[
            {key:'partnumber',val:$('#partnumber').val()},
            {key:'product_id',val:$('#product').select2('data')[0].id,},
            {key:'description',val:$('#description').val()},
            {key:'brand',val:$('#brand').val()},
          ],
          conditions:[
            {key:"id",val:$('#tObj tbody tr.selected').find('.id').text()}
          ]
        }
      })
      .done(res=>{
        console.log('Sukses udpate produk detail',res)
        tbl.ajax().reload()
      })
      .fail(err=>{
        console.log('ERr',err)
      })
    })
    $('#submissiondate').datetimepicker({
      format: 'L',//defaultDate:getToDate()
    })
    $('#implementationdate').datetimepicker({
      format: 'L',//defaultDate:getToDate()
    })
    $('#purchasedate').datetimepicker({
      format: 'L',//defaultDate:getToDate()
    })
    $('#btnSaveSubmission').on('click',function(){
      getBudgetNumber(
        budgetNumber=>{
          $.ajax({
            url:'/crud/',
            type:'post',
            data:{
              tableName:'fakesubmissions',
              crudtype:'create',
              cols:[
                {key:'quarter',val:1},
                {key:'year',val:'1994'},
                {key:'budgeting_number',val:budgetNumber},
                {key:'subject',val:$('#subject').val()},
                {key:'submission_date',val:getDt({date:$('#submissiondate input').val(),format:'mysql'})},
                {key:'staff_name',val:'bruno'},
                {key:'implementation_target',val:getDt({date:$('#implementationdate input').val(),format:'mysql'})},
                {key:'purchase_target',val:getDt({date:$('#purchasedate input').val(),format:'mysql'})}


              ]
            }
          })
          .done(res=>{
            console.log('Res fakesubmissions',res)
            $.ajax({
            url:'/crud/',
            type:'post',
            data:{
              tableName:'fakesubmission_details',
              crudtype:'create',
              cols:[
                {key:'submission_id',val:res.insertId},  
                {key:'vendor_id',val:$('#proposedvendor').val()},
                {key:'product_id',val:$('#productdetail').val()},
                {key:'itemname',val:$('#partnumber').val()},
                {key:'brand',val:$('#brand').val()},
                {key:'partnumber',val:$('#partnumber').val()},
                {key:'description',val:$('#description').val()},
                {key:'amount',val:$('#amount').val()},
                {key:'discountlevel',val:$('#discountlevel').val()},
                {key:'proposed_vendor',val:$('#proposedvendor').val()},
                {key:'proposed_price',val:$('#proposedprice').val()},
                {key:'proposed_totalprice',val:$('#proposedtotalprice').val()},
                {key:'vendor',val:$('#vendor').val()},
                {key:'purchase_reason',val:$('#purchase_reason').val()},
                {key:'placement_location',val:$('#placement_location').val()},
                {key:'guarantee',val:$('#guarantee').val()},
                {key:'note',val:$('#note').val()}
              ]
            }
          })
          .done(res=>{
            console.log('Res fakesubmissiondetails',res)
          })
          .fail(err=>{
            console.log('Err fakesubmissiondetails',err)
          })
          })
          .fail(err=>{
            console.log('Err fakesubmissions',err)
          })
        }
      )

    })
    $('#btnVerify').on('click',function(){})
    $('#btnReject').on('click',function(){})
  });
</script>
<script>
  createBudgetingNumber = obj => {
    return "2024"+"07"+'/BUD/'+lpad({num:obj.maxnum+1});
  }
  getCountInYear({tableName:'fakesubmissions'},cntInYear=>{
    getMaxNum({tableName:'fakesubmissions'},maxNumInYear=>{
      if(cntInYear>0){
        console.log(createBudgetingNumber({maxnum:maxNumInYear}))
      }else{
        console.log(createBudgetingNumber({maxnum:1}))
      }
    })
  })
  getBudgetNumber = callback => {
    getCountInYear({tableName:'fakesubmissions'},cntInYear=>{
      getMaxNum({tableName:'fakesubmissions'},maxNumInYear=>{
        if(cntInYear>0){
          callback(createBudgetingNumber({maxnum:maxNumInYear}))
        }else{
          callback(createBudgetingNumber({maxnum:1}))
        }
      })
    })
  }
</script>
<script>
  getTotal = obj => {
    console.log('pice',$('#proposedprice').val()*$('#amount').val())
    $('#proposedtotalprice').val(obj.proposed*obj.amount+obj.proposed*obj.amount*obj.discountLevel)
  }
  doGetTotal = _ => {
    getTotal({
      proposed:$('#proposedprice').val(),
      amount:$('#amount').val(),
      discountLevel:$('#discountlevel').val()
    })
  }
  $('.total').on('change',function(){
    doGetTotal()
  })
  $('.total').on('keyup',function(){
    doGetTotal()
  })
  $('.total').on('click',function(){
    $(this).select()
  })
  $('input').on('click',function(){
    $(this).select()
  })
</script>
<script>
  $('#tObj').on('click','.btnDuplicate',function(){
    tr = $(this).stairUp({level:4})
    console.log('Category',tr.attr('pcategory'))
    console.log('Product ID',tr.attr('product_id'))
    console.log('Subject',tr.attr('subject'))
    $('#staffname').val(tr.find('.staff').text())
    $('#itemname').val(tr.attr('pcategory')).trigger('change')
    $('#productdetail').val(tr.attr('product_id')).trigger('change')
    $('#subject').val(tr.attr('subject'))
    $('#peruntukan').val()
    $('#add-submission').modal({
      backdrop:'static'
    })
  })
</script>
</body>
</html>
